<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        <meta charset="UTF-8">
        <title>Best URL Shortener</title>
    </head>
    <body bgcolor="#FAEBD7">
         <form method="post" th:object="${URLs}">
             <div th:if="${#fields.hasErrors()}">
                <p class="validationError">
                    Please correct the problems below and resubmit.
                </p>
             </div>
             <input class="fancyInput" type="text" th:field="*{longURL}" placeholder="Enter URL">
             <p class="validationError"
                   th:if="${#fields.hasErrors('longURL')}"
                   th:errors="*{longURL}">LongURL Error</p>

             <input class="fancyInput" type="text" th:field="*{shortURL}" placeholder="Enter short URL">
             <p class="validationError"
                   th:if="${#fields.hasErrors('shortURL')}"
                   th:errors="*{shortURL}">ShortURL Error</p>

            <button class="fancySubmit" th:type="submit"  >Submit</button>
        </form>
    </body>
</html>